@import '_variables.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#menu-bar {
  background-color: $semi-dark-blue;
  max-width: 96px;
  height: calc(100vh - 64px);
  padding: 35px 0 32px;
  margin-right: 36px;
  border-radius: 20px;
  justify-content: space-between;


  .top-container {
    gap: 75px;
  }

  .icon-container {
    padding: 0 38px;
    min-height: 200px;
    justify-content: space-between;

  }

  .menu-item svg, .account-icon {
    cursor: pointer;

    &:hover {
      fill: #FFF;
    }
  }

}