<div id="menu-bar" class="container">
  <div class="container top-container">
    <div>
      <img src="assets/logo.svg" />
    </div>
    <div class="container icon-container">
      <img class="menu-item" src="assets/icon-nav-home.svg" />
      <img class="menu-item" src="assets/icon-nav-movies.svg" />
      <img class="menu-item" src="assets/icon-nav-tv-series.svg" />
      <img class="menu-item" src="assets/icon-nav-bookmark.svg" />
    </div>
  </div>
  <div>
    <img class="account-icon" src="assets/account-icon.svg" />
  </div>
</div>