@import '_mixins.scss';

.thumbnail {
  position: relative;

  img {
    border-radius: 8px;
  }

  .bookmark {
    position: absolute;
    top: 16px;
    cursor: pointer;
    
    &:hover {
      path {
        fill: #fff;
      }
    }
  }

  .thumbnail-content {
    color: #fff;

    .thumbnail-content-top {
      display: flex;
      align-items: center;
      gap: 8px;
      opacity: 0.75;
      @include body-medium;
      font-feature-settings: 'clig' off, 'liga' off;
    }
  }
}

.trending-thumbnail {
  .bookmark {
    right: 24px;
  }

  .thumbnail-content {
    position: absolute;
    bottom: 24px;
    left: 24px;

    h3 {
      @include heading-small;
    }
  }
}

.recommended-thumbnail {
  .bookmark {
    right: 16px;
  }

    .thumbnail-content {
      margin-top: 8px;

      .thumbnail-content-top {
        margin-bottom: 5px;
      }
      
      h3 {
        @include heading-xsmall;
      }
    }
}