<div id="app-container">
  <app-menu></app-menu>
  <div id="app-view">
    <app-search [placeholderText]="'Search for ' +  (category | mediaCategoryLabel) "></app-search>
    <ng-container *ngIf="searchTerm.length === 0">
      <app-grid-section [title]="(category | mediaCategoryLabel) " [array]="categoryMedia"></app-grid-section>
    </ng-container>
    <ng-container *ngIf="searchTerm.length > 0">
      <app-grid-section [title]=" (category | mediaCategoryLabel) " [array]="filteredArray"></app-grid-section>
    </ng-container>
  </div>
</div>