@import '_mixins.scss';
@import '_variables.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 1023px) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media screen and (max-width: 767px) {
    img {
      width: 25px;
      height: 20px;
    }
  }
}

// #menu-bar {
.menu-container {
  background-color: $semi-dark-blue;
  max-width: 96px;
  padding: 35px 0 32px;
  border-radius: 20px;
  justify-content: space-between;
  position: fixed;
  z-index: 5;
  top: 32px;
  bottom: 32px;
  

  .top-container {
    gap: 75px;

    // @media screen and (max-width: 1023px) {
    //   width: 70%;
    // }

    // @media screen and (max-width: 767px) {
    //   gap: 90px;
    //   width: unset;
    //   img {
    //     width: 25px;
    //     height: 20px;
    //   }
    // }
  }

  .icon-container {
    padding: 0 38px;
    min-height: 200px;
    justify-content: space-between;

    .selected > svg {
      fill: $white;
    }

    @media screen and (max-width: 1023px) {
      min-height: unset;
    }

    @media screen and (max-width: 1023px) and (min-width: 768px) {
      gap: 40px;
    }

    @media screen and (max-width: 767px) {
      gap: 24px;
      // padding: unset;

      // svg {
      //   height: 16px;
      // }

      // span {
      //   height: 16px;
      // }
    }
  }

  .menu-item svg, .account-icon {
    cursor: pointer;

    &:hover {
      fill: $red;
    }
  }

  @media screen and (max-width: 1023px) {
    position: relative;
    top: 0;
    height: 72px;
    max-width: 100vw;
    padding: 24px;
    margin-right: unset;
  }

  @media screen and (max-width: 767px) {
    border-radius: 0;
  }

}

#sign-out-modal {
  #sign-out-background {
    z-index: 3;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
  }

  .modal-content {
    position: fixed;
    bottom: 32px;
    left: 140px;
    z-index: 5;
    border-radius: 20px;
    background-color: $semi-dark-blue;
    padding: 20px;
    p {
      @include body-medium;
      color: $white;
      margin-bottom: 15px;
    }
    button {
      width: 100%;
      background-color: $red;
      border-radius: 6px;
      height: 48px;
      color: $white;

      &:hover {
        background-color: $white;
        color: #000;
      }
    }
  }

  @media screen and (max-width: 1023px) {
    .modal-content {
      position: absolute;
      top: 82px;
      left: unset;
      bottom: unset;
      right: 0;
    }
  }
}