@import '_mixins.scss';
@import '_variables.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#menu-bar {
  background-color: $semi-dark-blue;
  max-width: 96px;
  height: calc(100vh - 64px);
  padding: 35px 0 32px;
  margin-right: 36px;
  border-radius: 20px;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  

  .top-container {
    gap: 75px;
  }

  .icon-container {
    padding: 0 38px;
    min-height: 200px;
    justify-content: space-between;

    .selected > svg {
      fill: #fff;
    }

  }

  .menu-item svg, .account-icon {
    cursor: pointer;

    &:hover {
      fill: red;
    }
  }

}

#sign-out-modal {
  position: fixed;
  bottom: 32px;
  left: 140px;
  z-index: 5;
  border-radius: 20px;
  background-color: $semi-dark-blue;

  .modal-content {
    padding: 20px;
    p {
      @include body-medium;
      color: $white;
      margin-bottom: 15px;
    }
    button {
      width: 100%;
      background-color: $red;
      border-radius: 6px;
      height: 48px;
      color: $white;
    }
  }

}