@use 'scss-reset/reset';

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap');
@import 'swiper/css';
@import '_variables.scss';

* {
  font-family: 'Outfit', Arial, Helvetica, sans-serif;
}

html {
  background-color: #10141E;
  overflow-x: hidden;
}

#app-container {
  display: flex;
  margin: 32px;
  position: relative;

  #app-view {
    // display: flex;
    // flex-direction: column;
    width: calc(100% - 132px);
    margin-left: 132px;
  }

  @media screen and (max-width: 1023px) {
    flex-direction: column;
    margin: 24px;

    #app-view {
      margin: unset;
      width: unset;
    }
  }
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 32px;
  column-gap: 40px;

  @media screen and (max-width: 1023px) and (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 24px;
  }

  @media screen and (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    row-gap: 16px;
  }
}
