<app-search placeholderText="Search for movies or TV series"></app-search>
<h2>Trending</h2>
<div class="swiper">
  <div class="trending swiper-container">
    <div class="swiper-wrapper">
      <app-thumbnail class="swiper-slide" *ngFor="let item of trending" [content]="item"
        [trending]="item.isTrending"></app-thumbnail>
    </div>
    <!-- <div class="swiper-scrollbar"></div> -->
  </div>
</div>
<h2>Recommended for you</h2>
<div class="grid-layout">
  <app-thumbnail *ngFor="let item of recommended" [content]="item" [trending]="item.isTrending"></app-thumbnail>
</div>