@import '_mixins.scss';

h2 {
  @include heading-large;
  margin: 35px 0 25px;
}

.trending {
  display: flex;
  overflow-x: hidden;
}

.recommended-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 32px;
  column-gap: 40px;
}