@import '_mixins.scss';
    
.trending-heading {
  @include heading-large;
  margin: 35px 0 25px;
}

.trending {
  display: flex;
  overflow-x: hidden;
}


.swiper-container > .swiper-scrollbar {
  background: #d6d6d6;
  border-radius: 2px;
  height: 5px;
  width: 200px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.swiper-slide {
  max-width: 470px;
}