<div class="auth-container">
  <div class="auth-container-wrapper">
    <img src="assets/logo.svg" />
    <div class="form-wrapper">
      <ng-container *ngIf="isLoading">
        <app-loading-spinner [loginType]="loginMethod"></app-loading-spinner>
      </ng-container>
      <form [formGroup]="authForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
        <h1>{{ authMethod }}</h1>
        <ng-container *ngIf="authMethod === 'Login'">
          <div class="input-group">
            <input [ngClass]="{'input-error': (authForm.controls['email'].dirty || authForm.controls['email'].touched) && !authForm.controls.email.value}" type="email" id="loginEmail" placeholder="Email address" formControlName="email" required />
            <span class="error-message"
              *ngIf="(authForm.controls['email']?.dirty || authForm.controls['email']?.touched) && !authForm.controls.email.value">Can't
              be empty</span>
          </div>
          <div class="input-group">
            <input [ngClass]="{'input-error': (authForm.controls['password'].dirty || authForm.controls['password'].touched) && !authForm.controls.password.value}" type="password" id="loginPassword" placeholder="Password" formControlName="password" required />
            <span class="error-message"
              *ngIf="(authForm.controls['password']?.dirty || authForm.controls['password']?.touched) && !authForm.controls.password.value">Can't
              be empty</span>
          </div>
          <p class="error-message firebase-error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
          <button id="loginButton" class="submit-button" type="submit">Login to your account</button>
          <button id="githubButton" class="submit-button" type="button" (click)="gitHubLogin()">
            <img src="assets/github-mark.svg" />
            Sign in with GitHub
          </button>
          <p>Don't have an account? <span (click)="toggleAuthMode()">Sign Up</span></p>
        </ng-container>
        <ng-container *ngIf="authMethod === 'Sign Up'">
          <div class="input-group">
            <input [ngClass]="{'input-error': (authForm.controls['email'].dirty || authForm.controls['email'].touched) && !authForm.controls.email.value}" type="email" id="signupEmail" placeholder="Email address" formControlName="email" required />
            <span class="error-message"
              *ngIf="(authForm.controls['email']?.dirty || authForm.controls['email']?.touched) && !authForm.controls.email.value">Can't
              be empty</span>
          </div>
          <div class="input-group">
            <input [ngClass]="{'input-error': (authForm.controls['password'].dirty || authForm.controls['password'].touched) && !authForm.controls.password.value}" type="password" id="signupPassword" placeholder="Password" formControlName="password" required />
            <span class="error-message"
              *ngIf="(authForm.controls['password']?.dirty || authForm.controls['password']?.touched) && !authForm.controls.password.value">Can't
              be empty</span>
          </div>
          <div class="input-group">
            <input [ngClass]="{'input-error': (authForm.controls['repeatPassword'].dirty || authForm.controls['repeatPassword'].touched) && !authForm.controls.repeatPassword.value}" type="password" id="repeatPassword" placeholder="Repeat password" formControlName="repeatPassword"
              required />
            <span class="error-message"
              *ngIf="(authForm.controls['repeatPassword']?.dirty || authForm.controls['repeatPassword']?.touched) && !authForm.controls.repeatPassword.value">Can't
              be empty</span>
          </div>
          <span class="error-message" *ngIf="errorMessage">{{ errorMessage }}</span>
          <button id="signupButton" class="submit-button" type="submit">Create an account</button>
          <p>Already have an account? <span (click)="toggleAuthMode()">Login</span></p>
        </ng-container>
      </form>
    </div>
  </div>
</div>