<div class="auth-container">
  <div class="auth-container-wrapper">
    <img src="assets/logo.svg" />
    <div class="form-wrapper">
      <h1>{{ authMethod }}</h1>
      <form #authForm="ngForm" (submit)="onSubmit(authForm)">
        <ng-container *ngIf="authMethod === 'Login'">
          <input type="email" id="loginEmail" placeholder="Email address" name="email" required ngModel />
          <input type="password" id="loginPassword" placeholder="Password" name="password" required ngModel />
          <button id="loginButton" class="submit-button" type="submit">Login to your account</button>
          <button id="githubButton" class="submit-button" type="submit" (click)="gitHubLogin()">
            <img src="assets/github-mark.svg" />
            Sign in with GitHub
          </button>
        </ng-container>
        <ng-container *ngIf="authMethod === 'Sign Up'">
          <input type="email" id="signupEmail" placeholder="Email address" name="email" required ngModel />
          <input type="password" id="signupPassword" placeholder="Password" name="password" required ngModel />
          <input type="password" id="repeatPassword" placeholder="Repeat password" name="repeatPassword" required
            ngModel />
          <button id="signupButton" class="submit-button" type="submit">Create an account</button>
        </ng-container>
      </form>
      <p *ngIf="authMethod === 'Sign Up'">Already have an account? <span (click)="toggleAuthMode()">Login</span></p>
      <p *ngIf="authMethod === 'Login'">Don't have an account? <span (click)="toggleAuthMode()">Sign Up</span></p>
      <!-- <button type="button" (click)="githubLogin()">Login via GitHub</button> -->
    </div>
  </div>
</div>